<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>HCI</title>
	<!-- lib -->
	<script src="lib/angular.min.js"></script>
	<script src="lib/p5.min.js" charset="utf-8"></script>
	<script src="lib/jquery-3.2.1.min.js" charset="utf-8"></script>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="materialize/js/materialize.min.js" charset="utf-8"></script>
	<link rel="stylesheet" href="materialize/css/materialize.min.css">

	<link rel="stylesheet" href="style.css">
</head>
<body>
	<!-- <canvas id="canvas" width="400" height="400" style="border: 1px solid black; cursor: pointer;"></canvas> -->
	<div id ="myCtrl" ng-app="myApp" ng-controller="myCtrl" >


		<nav class=" teal">
			<div class="nav-wrapper">
				<a href="#" class="brand-logo center">HitzMap</a>
			</div>
		</nav>

		<div class="nav-placeholder"></div>

		<div id="delete-modal-room" class="modal">
	    <div class="modal-content">
	      <h5>Wollen Sie diesen Raum Löschen?</h4>

	    </div>
	    <div class="modal-footer">
				<a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Nein</a>
	      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="removeRoom()">Ja</a>
	    </div>
	  </div>

		<div id="delete-modal-router" class="modal">
	    <div class="modal-content">
	      <h5>Wollen Sie diesen Router Löschen?</h4>

	    </div>
	    <div class="modal-footer">
				<a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Nein</a>
	      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="removeRouter()">Ja</a>
	    </div>
	  </div>

		<div id="delete-modal-dot" class="modal">
	    <div class="modal-content">
	      <h5>Wollen Sie diesen Punkt Löschen?</h4>

	    </div>
	    <div class="modal-footer">
				<a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Nein</a>
	      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="removeDot()">Ja</a>
	    </div>
	  </div>

		<div class="ui basic modal room">
			<div class="ui icon header">
				<i class="archive icon"></i>
				Wollen sie den Raum Löschen?
			</div>
			<div class="content">
				<p>x :{{selectetRoom.x}} </p>
				<p>y: {{selectetRoom.y}}</p>
				<p>{{selectetRoom.date|date}}</p>
			</div>
			<div class="actions">
				<div class="ui red basic cancel inverted button">
					<i class="remove icon"></i>
					No
				</div>
				<div class="ui green ok inverted button" ng-click="removeRoom()">
					<i class="checkmark icon"></i>
					Yes
				</div>
			</div>
		</div>

		<div id = "heatmapContainer" class="state">
			<div class="text-content flow-text center-align full-size valign-wrapper" ng-show="state== -2" class="">
				<div style="width: 100%;">
					<h4 class="title">Willkommen bei HitzMap</h4>

					</br>
					<p>Hier können Sie in drei Schritten Ihre Wlan-Heatmap erstellen.</p>
					</br>

					<ul>
						<li><span class="title">1.</span> Raumlayout erstellen</li>
						<li><span class="title">2.</span> Wlan-Stärke messen</li>
						<li><span class="title">3.</span> Heatmap anzeigen</li>
					</ul>
				</div>
			</div>
			<div class="text-content flow-text center-align" ng-show="state== -1" class="">


				<h4 class="title">Raumlayout erstellen</h4>
				<br>

				<div class="col s12 m8 offset-m2 l6 offset-l3">
	        <div class="card-panel grey lighten-5 z-depth-1">
	          <div class="valign-wrapper">
	            <div class="col s2">
								<i class="material-icons black-text">menu</i>
	            </div>
	            <div class="col s10 center-align">
	              <span class="black-text">
	               	Öffnet die Funktionsübersicht.
	              </span>
	            </div>
	          </div>
	        </div>
	      </div>

				<div class="col s12 m8 offset-m2 l6 offset-l3">
	        <div class="card-panel grey lighten-5 z-depth-1">
	          <div class="valign-wrapper">
	            <div class="col s2">
								<i class="material-icons black-text">delete</i>
	            </div>
	            <div class="col s10 center-align">
	              <span class="black-text">
	               	Entfernt die Räume vom Layout.
	              </span>
	            </div>
	          </div>
	        </div>
	      </div>

				<div class="col s12 m8 offset-m2 l6 offset-l3">
	        <div class="card-panel grey lighten-5 z-depth-1">
	          <div class="valign-wrapper">
	            <div class="col s2">
								<i class="material-icons black-text">gamepad</i>
	            </div>
	            <div class="col s10 center-align">
	              <span class="black-text">
	               	Verschiebt Räume im Layout.
	              </span>
	            </div>
	          </div>
	        </div>
	      </div>

				<div class="col s12 m8 offset-m2 l6 offset-l3">
	        <div class="card-panel grey lighten-5 z-depth-1">
	          <div class="valign-wrapper">
	            <div class="col s2">
								<i class="material-icons black-text">router</i>
	            </div>
	            <div class="col s10 center-align">
	              <span class="black-text">
	               	Platziert Router im Layout.
	              </span>
	            </div>
	          </div>
	        </div>
	      </div>

				<div class="col s12 m8 offset-m2 l6 offset-l3">
	        <div class="card-panel grey lighten-5 z-depth-1">
	          <div class="valign-wrapper">
	            <div class="col s2">
								<i class="material-icons black-text">add</i>
	            </div>
	            <div class="col s10 center-align">
	              <span class="black-text">
	               	Fügt Räume hinzu.
	              </span>
	            </div>
	          </div>
	        </div>
	      </div>

			</div>
			<div ng-show = "state == 0 || state ==2 || state == 4">
				<div id="canvas"></div>

				<div class="fixed-action-btn vertical click-to-toggle" ng-show = "state == 0 || state == 2">

					<a class="btn-floating btn-large teal accent-3 ng-click= "removeLast()"">
						<i class="material-icons">menu</i>
					</a>
					<ul ng-show = "state == 0">
						<li><a class="btn-floating teal accent-4" ng-click="switch(3)"><i class="material-icons">delete</i></a></li>
						<li><a class="btn-floating teal accent-4" ng-click="switch(2)" ><i class="material-icons">gamepad</i></a></li>
						<li><a class="btn-floating teal accent-4" ng-click="switch(1)"><i class="material-icons">router</i></a></li>
						<li><a class="btn-floating teal accent-4" ng-click="switch(0)"><i class="material-icons">add</i></a></li>
					</ul>
					<ul ng-show = "state == 2">
						<li><a class="btn-floating  teal accent-4" ng-click="switch(1)"><i class="material-icons">delete</i></a></li>
						<li><a class="btn-floating  teal accent-4" ng-click="switch(0)"><i class="material-icons">add</i></a></li>
					</ul>
				</div>
			</div>
			<div class="text-content flow-text center-align"  ng-show = "state == 1" >

				<h4 class="title">Messpunkte setzen</h4>
				<br>

				<div class="col s12 m8 offset-m2 l6 offset-l3">
					<div class="card-panel grey lighten-5 z-depth-1">
						<div class="valign-wrapper">
							<div class="col s2">
								<i class="material-icons black-text">menu</i>
							</div>
							<div class="col s10 center-align">
								<span class="black-text">
									Öffnet die Funktionsübersicht.
								</span>
							</div>
						</div>
					</div>
				</div>

				<div class="col s12 m8 offset-m2 l6 offset-l3">
					<div class="card-panel grey lighten-5 z-depth-1">
						<div class="valign-wrapper">
							<div class="col s2">
								<i class="material-icons black-text">delete</i>
							</div>
							<div class="col s10 center-align">
								<span class="black-text">
									Entfernet die Messpunkte.
								</span>
							</div>
						</div>
					</div>
				</div>

				<div class="col s12 m8 offset-m2 l6 offset-l3">
					<div class="card-panel grey lighten-5 z-depth-1">
						<div class="valign-wrapper">
							<div class="col s2">
								<i class="material-icons black-text">add</i>
							</div>
							<div class="col s10 center-align">
								<span class="black-text">
									Fügt Messpunkte hinzu.
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="text-content flow-text center-align"  ng-show = "state == 3" >
					<h4 class="title">Heatmap anzeigen</h4>

					<p>
						In der nächsten Ansicht sehen Sie die ausgewerteten Messpunkte, die in Form einer Heatmap angezeigt werden.
					</p>

					<table class="centered">
						<thead>
							<tr>
									<th>Legende</th>
							</tr>
						</thead>

						<tbody>
							<tr class="green accent-4">
								<td>Optimal</td>
							</tr>
							<tr class="yellow lime">
								<td>Gut</td>
							</tr>
							<tr class="orange accent-4">
								<td>Mittelmäßig</td>
							</tr>
							<tr class="red accent-4">
								<td>Schlecht</td>
							</tr>
						</tbody>
					</table>
			</div>
			<div  class="text-content flow-text center-align" ng-show = "state == 5" >

				<h4 class="title">Tipps</h4>
				<br>

				<div class="col s12 m8 offset-m2 l6 offset-l3">
					<div class="card-panel grey lighten-5 z-depth-1">
						<div class="valign-wrapper">
							<div class="col s10 center-align">
								<span class="black-text">
									Platzieren Sie den Router an eine bessere Position. Am besten wäre eine mittige Positionierung in Ihrer Wohnung.
								</span>
							</div>
						</div>
					</div>
				</div>

				<div class="col s12 m8 offset-m2 l6 offset-l3">
					<div class="card-panel grey lighten-5 z-depth-1">
						<div class="valign-wrapper">
							<div class="col s10 center-align">
								<span class="black-text">
									Platzieren Sie ggf. Repeater, welche das Wlan-Signal verstärken und es so in entlegene Bereiche der Wohnung bringen.
								</span>
							</div>
						</div>
					</div>
				</div>

				<div class="col s12 m8 offset-m2 l6 offset-l3">
					<div class="card-panel grey lighten-5 z-depth-1">
						<div class="valign-wrapper">
							<div class="col s10 center-align">
								<span class="black-text">
									Falls Ihre Router-Software dies zulässt, können Sie versuchen die Sendefrequenz zu verändern. Andere Wlan-Signale die auf derselben Frequenz wie Ihres senden, können die Verbindung beeinträchtigen.
								</span>
							</div>
						</div>
					</div>
				</div>

				<div class="col s12 m8 offset-m2 l6 offset-l3">
					<div class="card-panel grey lighten-5 z-depth-1">
						<div class="valign-wrapper">
							<div class="col s10 center-align">
								<span class="black-text">
									Falls Ihr Router schon sehr alt ist, kommt eventuell auch ein Neukauf in Betracht. Moderne Geräte haben meist eine weitaus höhere Sendeleistung und somit eine höhere Reichweite. Auch ist die maximale Übertragungsgeschwindigkeit meist höher.
								</span>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

		<div id="nav">
			<div class="row center-align" >
				<div class="waves-effect waves-light btn" data-vivaldi-spatnav-clickable="1" ng-click="abort()" ng-if="state >-2">Zurück</div>
				<div class="waves-effect waves-light btn" data-vivaldi-spatnav-clickable="1" ng-click= "next()" ng-if="state <5 && state != -2" >Weiter</div>
				<div class="waves-effect waves-light btn" data-vivaldi-spatnav-clickable="1" ng-click= "next()" ng-if="state == -2" >Starten</div>

			</div>
		</div>
	</div>

<script type="text/javascript" src="lib/heatmap.js-master/build/heatmap.min.js"></script>
	<script src="class/router.js" charset="utf-8"></script>
	<script src="class/myRect.js" charset="utf-8"></script>
	<script src="class/myDot.js" charset="utf-8"></script>
	<script src="index.js" charset="utf-8"></script>
</body>
</html>
